
.bodyAbout {
    color: #555;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#headerAbout {
    background-color: #1abc9c;
    height: 150px;
    line-height: 150px;
  }
  
  #header-titleAbout{
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
  }
  
  #header-navAbout {
    display: block;
    float: right;
    margin-top: 0;
  }
  
  #header-navAbout li {
    display: inline;
    padding:20px 20px 20px 20px;
  }

  
  #headerAbout a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  #headerAbout a:hover {
    color: #222;
  }
  
  #footerAbout {
    background-color: #2f2f2f;
    padding: 50px 0;
  }
  
  
  .columnAbout {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  

  #footerAbout h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em
  }
  
  #footerAbout p {
    color: white;
  }
  
  a {
    color: #1abc9c;
    text-decoration: underline;
  }
  
  a:hover {
    color: #F6A623;
  }
  
  .About .About-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
  }
  
  .about-author img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 50%;
  }
  
  h1, h2, h3, h4 {
    color: #333;
  }
  
  p {
    line-height: 1.5;
  }
  
  #contentAbout {
    border: 5px solid gray;
    padding: 50px;
    margin: 100px;
    display: flexbox;
    flex-flow: column, wrap;
  }

  
  