
body {
  color: #555;
  margin: 0 auto;
}
#headerRammi {
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;
}


#header-titleRammi{
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
}

#header-navRammi {
  display: block;
  float: right;
  margin-top: 0;
}

#header-navRammi li {
  display: inline;
  padding:20px 20px 20px 20px;
}

#headerRammi a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
  #headerRammi a:hover {
    color: #222;
  }
   

  .containerRammi {
    max-width: 100%;
    text-align: center;
  }
  
  .containerRammiMain {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    margin: 50px auto 50px auto;
    padding: 20px 20px 20px 20px;
  }
  

  #footerRammi {
    background-color: #2f2f2f;
    padding: 50px 0;
  }
  
  .columnRammi {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  
  #footerRammi h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  #footerRammi p {
    color: white;
  }

  a {
    color: #1abc9c;
    text-decoration: none;
  }
  
  a:hover {
    color: #F6A623;
  }
  

  
 